[Unit]
Description=Geth Full Node
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ubuntu
User=ubuntu
ExecStart=/usr/bin/geth --authrpc.addr localhost --authrpc.port 8551 --authrpc.vhosts localhost --authrpc.jwtsecret /tmp/jwtsecret --syncmode full --http --http.api personal,eth,net,web3,txpool --http.addr 0.0.0.0 --http.corsdomain * --ws --ws.addr 0.0.0.0 --ws.origins '*' --ws.api eth,net,web3,txpool,debug --snapshot=false --ulc.onlyannounce --metrics --ipcpath ~/.ethereum/geth.ipc --maxpeers 500 --cache 18000
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
